.invitadas {
  position: relative;
  top: 1000px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.invitadas img {
  width: 33.33%;
}
.invitadas div {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  top: 100px;
  width: 100%;
}
.invitadas h2 {
  position: relative;
  top: 64px;
  padding-left: 13.8%;
}
@media screen and (max-width: 1000px) {
  .invitadas {
    top: 1200px;
  }
  .invitadas h2 {
    font-size: 36px;
    line-height: 42px;
    width: 288px;
    left: 5%;
  }
  .invitadas img {
    width: 100%;
    height: 76%;
  }
}
